ng-container{
  margin-bottom: 30rem;
}
h2
{
  background-color: #04838f;
  color: white;
  border-radius: 0.5rem;
  padding: 1rem 1rem;
  text-align: center;
  margin-left: 10rem;

}

ngx-charts-line-chart {
  display: flex;
  align-content: center;

  padding: 2rem;


}
legend
{
  display: flex;
  margin-left: 25rem;

}
button
{
  margin-left: 3rem;
}

h2
{
  background-color: #04838f;
  color: white;
  border-radius: 0.5rem;
  padding: 1rem 1rem;
  text-align: center;
}
h4
{
  color: black;
  font-weight: bold;
  text-align: center;
}
h3
{
  color: grey;
  border-color: #04838f;
  border-radius: 0.5rem;
  border-style: solid;
  padding: 0.5rem ;
  margin: 2rem;
}
