.center {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h2{
  background-color: #04838f;
  color: white;
  border-radius: 0.5rem;
  padding: 1rem 1rem;
}
