
.legend {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.legendchild {
  box-sizing: border-box;
  margin: 5px;
}

.chart {
  display: flex;
  justify-content: center;
}

h2 {
  background-color: #04838f;
  color: white;
  border-radius: 0.5rem;
  padding: 1rem 1rem;
  text-align: center;
}

h4 {
  color: black;
  font-weight: bold;
  text-align: center;
}

h3 {
  color: grey;
  border-color: #04838f;
  border-radius: 0.5rem;
  border-style: solid;
  padding: 0.5rem;
  margin-right: 2rem;
}


